

body
{
    color: #40514e;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1
 {
    font-size: 562.5%;
 margin-top: 0;
 font-family: 'Sacramento', cursive;
 color: #66BFBF;

    
}

h2{
    font-family: 'Montserrat', sans-serif;  
    color: #66BFBF;
    font-weight: normal;
    padding-bottom: 10px;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

p{
    line-height: 2;
    padding: auto;
    margin-bottom: 50px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 4%;
    max-width: 100px auto;
}

a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover{
    color: #EAF6F6;
}

.www{
    height: 100px;
    width: 100px;
    float: left;
    margin-right: 30px;
}

.tools{
    height: 100px;
    width: 100px;
    float: right;
    margin-left: 30px;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.middle-container{
    padding-top: 1%;
    margin:100px auto
}

.top-container {
    background-color: #aed6ee;
    position: relative;
    padding-top: 100px;

}

.pro{

text-decoration: underline;

}

.bottom-cloud{
    position: absolute;
    left: 25px;
    bottom: 300px;
}

.top-cloud{
    position: absolute;
    right: 300px;
    top: 40px;

}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    
}

.profile{
    width: 30%;
    margin: auto;
}

.contact-me{
    width: 40%;
    margin: 40px auto 100px;
}

.copyright{
    color: #EAF6F6;
    font-size:0.75rem;
    padding: 20px 0;
}

.btn {
    background: linear-gradient to bottom, #11cdd4, #1999e;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px;
    text-decoration: none;
    transition: background 0.2s ease-in-out;
  }
  
  .btn:hover {
    background: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
